/* Universal */
body {
    font-family: Arial;
    background-color: rgb(250, 250, 250);
}

/* Dashoard Page */
.statsContainer {
    display: flex;
    flex-direction: column-reverse;
}

.statsDiv {
    text-align: center
}

.badge img {
   width: 90%;
}

.toRoutinesButton {
    border: none;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: lightslategray;
}

.redoButton {
    align-self: center;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: lightslategray;

}

/* Routines & Dashboard Pages */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upperContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000;
}

.lowerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.lowerContainer h1, h2 {
    font-size: 26px;
}
.routinesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.workoutItem {
    width: 95%;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.workoutItem:hover {
    border-style: solid;
} 

form {
    margin: 0px;
}

/* this button is hidden behind form on routine's page*/
.hiddenButton {
    border: none;
    padding: 0px;
    width: 100%;
}

.workoutImage {
    height: 200px;
    position: relative;
}

.workoutImage img {
    width: 100%;
    height: 100%;
}

/* workout name on top of image */
.displayTitle {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
/* bottom section of workout item */
.routineInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.workoutItem label {
    font-size: 18px;
}

.workoutItem span {
    font-size: 16px;
    height: 50px;
}

@media only screen and (min-width: 600px) {

    /* Dashboard and Routines Pages */

    .statsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .badge img {
        max-width: 250px;
     }
      
    .lowercontainer h2 {
        align-self: end;
    }

    .routinesContainer {
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
    }

    .workoutItem {
        margin: 20px;
        max-width: 250px;
    }

    .workoutItem span {
        height: 75px;
    }

}


/* MENU CSS */

.header {
    width: 100%;
}

/* Hide Desktop Menu */
.barNavMenu {
    display: none;
}

/* Hamburger Menu */
/* Style the navigation menu */
.hamNavMenu {
    background-color: slategray;
    position: relative;
  }
  
  /* Hide the links in hamburger menu */
  .hamNavMenu #menuLinks { 
    display: none;
  }
  
  /* hamburger menu links */
  .hamNavMenu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* hamburger menu icon */
  .hamNavMenu a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .hamNavMenu a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: slategray;
    color: white;

  }

  @media only screen and (min-width: 600px) {   
    .hamNavMenu {
        display: none;
    }

    .barNavMenu {
        display: block;
        overflow: hidden;
        background-color: slategray;

    }
    
    .barNavMenu a {
        /* color: white; */
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        float: left;
        text-align: center;
    }
    
    .links {
        float: right;
    } 

    .barNavMenu a:hover {
        background-color: #ddd;
        color: black;
    }

}

/* ROUTINE CSS */

#routineBody {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

#routineBody li, a {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

#routineContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.exerciseLabel {
    text-align: center;
    color: #edf0f1;
}

.routineHeading {
    text-align: center;
    color: #edf0f1;
    padding-top: 10px;
    margin-bottom: 0;
}

.ddTest {
    display: none;
    z-index: 1;
    list-style: none;
}

.ddTest li {
    color: white;
}

.ddTest li:hover {
    background-color: #0088a9;
}

.exerciseTitleA {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    list-style: none;
}

.exercisesA {
    list-style: none;
    margin-bottom: 50px;
    margin-right: 30px;
}

.exercisesA:hover .ddTest {
    display: inline;
}

.exercisesA:hover .exerciseTitleA {
    background-color: #0088a9;
}

.exercisesA li {
    padding: 0px 5px;
    margin-bottom: 5px;
}

.exercisesA li a {
    transition: all 0.3s ease 0s;
}

.exercisesA li a:hover {
    background-color: (0, 136, 169, 1);
}

.routineButton {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    opacity: 2;
}

.routineButton:hover{
    background-color: rgba(0, 136, 169, 0.8);
}



/* ROUTINE CSS */
/* WORKOUT PHOTO CSS */
.workoutImage img{
    width: 250px;
}

.thumbnails {
    display: flex;
    
}

.imageThumbnail {
    width: 150px;
}

/* auth */
#splash-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
}
#splash-logo {
    display: flex;
    margin: 0 auto;
    margin-top: 20%;
}
#splash-welcome {
    display: flex;
    width: 85%;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 100%;
    font-size: larger;
}
#splash-buttons {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20%;
}
#logInBtn {
    font-size: larger;
    width: 100px;
    height: 300%;
    margin-left: 10%;
}
#signUpBtn {
    font-size: larger;
    width: 100px;
    height: 300%;
    margin-right: 10%;
}
#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#login-form {
    display: flex;
    flex-direction: column;
}
/* auth end */