/* black : #0b0c10  neonBlue: #66FCF1  darkerBlue: #45A29E */


/* Universal */
body {
    font-family: Arial;
    background-color: #0b0c10;
    color: #66FCF1;
}

/* Dashoard Page */
.statsContainer {
    display: flex;
    flex-direction: column-reverse;
}

.statsDiv {
    text-align: center
}

.statsDivLeft {
    text-align: center;
    font-size: 18px;
    padding-top: 25px;
}

.badge img {
   width: 90%;
}


/* 
.toRoutinesButton {
    border: none;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: lightslategray;
}

.redoButton {
    align-self: center;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: lightslategray;

} */

/* Routines & Dashboard Pages */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upperContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000;
    margin-bottom: 25px;
}

.lowerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    border-top: solid #45A29E;
}

.lowerContainer h1, h2 {
    font-size: 26px;
}
.routinesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.workoutItem {
    width: 95%;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 #0b0c10, 0 6px 20px 0 #66FCF1;
    background-color: rgb(239, 239, 239);
}

.workoutItem:hover {
    border-style: solid;
} 

form {
    margin: 0px;
    background-color: -internal-light-dark(#45A29E, #0b0c10);
}

/* this button is hidden behind form on routine's page*/
.hiddenButton {
    border: none;
    padding: 0px;
    width: 100%;
}

.workoutImage {
    height: 200px;
    position: relative;
}

.workoutImage img {
    width: 100%;
    height: 100%;
}

/* workout name on top of image */
.displayTitle {
    color: #66FCF1;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
/* bottom section of workout item */
.routineInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.workoutItem label {
    font-size: 18px;
}

.workoutItem span {
    font-size: 16px;
    height: 35px;
}

.deleteButton {
    margin: 5px;
    float: right;
    cursor: pointer;
    color: #66FCF1;
    background-color: #0b0c10;
    border: none;
    padding: 5px;
}

/*  History Page */
.timerContainer {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.timer {
    font-size: xx-large;
}

.workoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exerciseDiv {
    display:flex;
    flex-direction: column;
    margin: 10px;

}

.exerciseItem {
    display: flex;
    justify-content:space-between;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    width:300px;
    background-color: #0b0c10;
    color: #66FCF1;
}

.exerciseItem button {
    border: none;
    cursor: pointer;
}

.completedButton {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.historyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 600px) {

    /* Dashboard and Routines Pages */

    .statsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .badge img {
        max-width: 200px;
     }
      
    .lowercontainer h2 {
        align-self: end;
        margin: 20px;
    }

    .routinesContainer {
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
    }

    .workoutItem {
        margin: 20px;
        max-width: 250px;
        
    }

    .workoutItem span {
        height: 50px;
    }

}

/* HISTORY PAGE */
.historyItem {
    margin: 20px;
    width: 300px;


}

.historyInfo {
    display: flex;
    flex-direction: column;
    margin: 10px;

}
.historyInfo span {
    margin: 5px;
}

/* MENU CSS */

.header {
    width: 100%;
}

/* Hide Desktop Menu */
.barNavMenu {
    display: none;
}


/* Hamburger Menu */
/* Style the navigation menu */
#logOut {
    background: none;
    border: none;
    color: #66FCF1;
    font: 17px Arial;
    padding: 14px 16px;
}
.hamNavMenu {
    background-color: #45A29E;
    position: relative;
  }
  
  /* Hide the links in hamburger menu */
  .hamNavMenu #menuLinks { 
    display: none;
  }
  
  /* hamburger menu links */
  .hamNavMenu a {
    color: #66FCF1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* hamburger menu icon */
  .hamNavMenu a.icon {
    background: #45A29E;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .hamNavMenu a:hover {
    background-color: #c5c6c7;
    color: #45A29E;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #45A29E;
    color: #0b0c10;

  }

  @media only screen and (min-width: 600px) {   
    .hamNavMenu {
        display: none;
    }
    #logOut {
        background: none;
        border: none;
        color: #45A29E;
        font: 17px Arial;    
        height: 17px;
        padding: 0px;
    }
    .barNavMenu {
        display: block;
        overflow: hidden;
        background-color: #c5c6c7;

    }
    
    .barNavMenu a {
        /* color: white; */
        color: #45A29E;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        float: left;
        text-align: center;
    }

    .links {
        float: right;
    } 

    .barNavMenu a:hover {
        background-color: #0b0c10;
        color: #66FCF1;
    }

}

/* ROUTINE CSS */

#routineBody {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0b0c10;
}

#routineBody li, a {
    font-weight: 500;
    font-size: 16px;
    color: #66FCF1;
    text-decoration: none;
}

#routineContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.exerciseLabel {
    text-align: center;
    color: #66FCF1;
}

.routineHeading {
    text-align: center;
    color: #66FCF1;
    padding-top: 10px;
    margin-bottom: 0;
}

.ddTest {
    display: none;
    z-index: 1;
    list-style: none;
}

.ddTest li {
    color: #66FCF1;
}

.ddTest li:hover {
    background-color: #c5c6c7;
    color: #45A29E;
}

.exerciseTitleA {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    list-style: none;
    border: solid;
    padding: 10px;
}

.exercisesA {
    list-style: none;
    margin-bottom: 50px;
    margin-right: 65px;
}

.exercisesA:hover .ddTest {
    display: inline;
}

.exercisesA:hover .exerciseTitleA {
    background-color: #45A29E;
}

.exercisesA li {
    padding: 0px 5px;
    margin-bottom: 5px;
}

.exercisesA li a {
    transition: all 0.3s ease 0s;
}

.exercisesA li a:hover {
    background-color: (0, 136, 169, 1);
}

.routineButton {
    padding: 9px 25px;
    background-color: #45A29E;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    opacity: 2;
}

.routineButton:hover{
    background-color: #66FCF1;
}


/* auth */
@media (max-width: 375px) {
    .background {
        display: flex;
        flex-direction: column;
        background-image: url("/images/background-splash.png");
        width: 375px;
        height: 812px;
        position: absolute;
        left: -1px;
        top: -1px;
    }
    .background-alt {
        display: flex;
        flex-direction: column;
        background-image: url("/images/background-alt.png");
        width: 375px;
        height: 812px;
        position: absolute;
        left: -1px;
        top: -1px;
    }
    .background-alt-2 {
        display: flex;
        flex-direction: column;
        background-image: url("/images/background-alt-2.png");
        width: 375px;
        height: 812px;
        position: absolute;
        left: -1px;
        top: -1px;
    } 
    #splash-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        max-width: 375px;
    }
    #splash-logo {
        display: flex;
        margin: 0 auto;
        margin-top: 20%;
    }  
    #splash-welcome {
        display: flex;
        position: absolute;
        width: 85%;
        flex-direction: column;
        align-self: center;
        text-align: center;
        margin: 0 auto;
        font-size: larger;
        bottom: 40%;
        margin: 0 auto;
    }
    #splash-buttons {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        bottom: 30%;
        margin: 0 auto;
    }
    #splash-logo {
        height: auto;
        width: auto;
        max-width:100px;
    }
    #toLogInBtn {
        font-size: larger;
        width: 100px;
        height: 300%;
        margin-left: 10%;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
    }
    #signUpBtn {
        font-size: larger;
        width: 100px;
        height: 300%;
        margin-right: 10%;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
    }
    #login-container {
        display: flex;
        align-self: center;
        position: relative;
        margin-top: 75%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #login-form {
        display: flex;
        flex-direction: column;
    }
    #loginBtn {
        width: 200px;
        height: 40px;
        font-size: larger;
        margin: 0 auto;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
    }
    #guestBtn {
        width: 200px;
        height: 40px;
        font-size: larger;
        margin: 0 auto;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
    }
    #toRegister {
        width: 200px;
        height: 40px;
        font-size: larger;
        margin: 0 auto;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
    }
    .usernameTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }
    .passwordTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }  
    #heightTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }
    #weightTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }
    #ageTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }
    #goalTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }
    #registerBtn {
        width: 200px;
        height: 40px;
        font-size: larger;
        align-self: center;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
        margin-left: 5px;
        }
    #register {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        align-items: center;
        justify-content: center;
    } 
    #register-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }
}
@media (min-width: 376px) {
    .background {
        display: flex;
        flex-direction: column;
        background-image: url("/images/background-splash.png");
        width: 375px;
        height: 812px;
        position: relative;
        margin: 0 auto;
        top: -1px;
    }
    .background-alt {
        display: flex;
        flex-direction: column;
        background-image: url("/images/background-alt.png");
        width: 375px;
        height: 812px;
        position: relative;
        margin: 0 auto;
        top: -1px;
    }
    .background-alt-2 {
        display: flex;
        flex-direction: column;
        background-image: url("/images/background-alt-2.png");
        width: 375px;
        height: 812px;
        position: relative;
        margin: 0 auto;
        top: -1px;
    } 
    #splash-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        max-width: 375px;
    }
    #splash-logo {
        display: flex;
        margin: 0 auto;
        margin-top: 20%;
    }  
    #splash-welcome {
        display: flex;
        position: absolute;
        width: 85%;
        flex-direction: column;
        align-self: center;
        text-align: center;
        margin: 0 auto;
        font-size: larger;
        bottom: 40%;
        margin: 0 auto;
    }
    #splash-buttons {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        bottom: 30%;
        margin: 0 auto;
    }
    #splash-logo {
        height: auto;
        width: auto;
        max-width:100px;
    }
    #toLogInBtn {
        font-size: larger;
        width: 100px;
        height: 300%;
        margin-left: 10%;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
    }
    #signUpBtn {
        font-size: larger;
        width: 100px;
        height: 300%;
        margin-right: 10%;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
    }
    #login-container {
        display: flex;
        align-self: center;
        position: relative;
        margin-top: 75%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #login-form {
        display: flex;
        flex-direction: column;
    }
    #loginBtn {
        width: 200px;
        height: 40px;
        font-size: larger;
        margin: 0 auto;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
    }
    #guestBtn {
        width: 200px;
        height: 40px;
        font-size: larger;
        margin: 0 auto;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
    }
    #toRegister {
        width: 200px;
        height: 40px;
        font-size: larger;
        margin: 0 auto;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
    }
    .usernameTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }
    .passwordTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }  
    #heightTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }
    #weightTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }
    #ageTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }
    #goalTxt {
        background: transparent;
        color: #66FCF1;
        border: none;
        border-bottom: 1px solid #45A29E;
        font-size: larger;
    }
    #registerBtn {
        width: 200px;
        height: 40px;
        font-size: larger;
        align-self: center;
        border: 1px solid #66FCF1;
        background: transparent;
        color: #66FCF1;
        margin-left: 5px;
        }
    #register {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        align-items: center;
        justify-content: center;
    } 
    #register-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }
}

/* auth end */

/* Account Page */

.accountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountDetails{
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 1000px;
    border-style: double;
    padding: 10px;



}

.accountDetails span {
    margin: 5px;
}

.accountDetails a {
    align-self: center;
    margin-top:20px;
}

.accountDetails button {
    cursor: pointer;
    color: #66FCF1;
    background-color: #0b0c10;
    border-color: #66FCF1;
    padding: 5px;
}

.acctSubmit {
    align-self: center;
    margin-top: 20px,;
    cursor: pointer;
    color: #66FCF1;
    background-color: #0b0c10;
    border-color: #66FCF1;
    padding: 5px;
}

.badgeContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.badgeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 20px;

}

.badgeItem label {
    text-align: center;
}

.badgeItem img {
    max-width: 200px;
}

@media only screen and (min-width: 600px) { 
    .accountDetails {
        min-width:550px;
    }
    
    .badgeContainer {
        flex-direction: row;
    }

}