        <header class="header">

         <nav class="hamNavMenu">
            <a href="#home" class="active">LOGO HERE</a>
            <!-- Navigation links (hidden by default) -->
            <div id="menuLinks">
                <a href="dashboard">Dashboard</a>
                <a href="#menu">Workouts</a>
                <a href="#contact">Log Out</a>
            </div>
            <!-- open links on hamburger menu-->
            <a href=# class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>

        <nav class="barNavMenu">
            <a href="#home">LOGO HERE</a>
            <!-- Navigation links -->
            <div class="links">
                <a href="#about">Dashboard</a>
                <a href="#menu">Workouts</a>
                <a href="#contact">Log Out</a>
            </div>

        </nav>
    
        </header>
