        
       
        <header class="header">

         <nav class="hamNavMenu">
            <a href="dashboard" class="active">LiftLogger</a>
            <!-- Navigation links (hidden by default) -->
            <div id="menuLinks">
                <a href="dashboard">Dashboard</a>
                <a href="routineCreator">Create Workouts</a>
                <a href="history">History</a>
                <form method="POST" action="/logout">
                    <button id="logOut">Log Out</button>
                </form>
            </div>
            <!-- open links on hamburger menu-->
            <a href=# class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>

        <nav class="barNavMenu">
            <a href="dashboard">LiftLogger</a>
            <!-- Navigation links -->
            <div class="links">
                <a href="dashboard">Dashboard</a>
                <a href="routineCreator">Create Workouts</a>
                <a href="history">History</a>
                <a class="aButton"><form method="POST" action="/logout">
                    <input id="logOut" type="submit" value="Log Out">
                </form></a>
            </div>

        </nav>
    
        </header>
