<html>
<head>
        <title>WORKOUT APP | Dashboard</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/styles.css"/>
</head>

    {{> header}}

   <body>
      <h1>Account Page</h1>
      <div class="acctInfo">   
         {{#Account}}
            <b>Personal Information</b>
            <label>Username: {{username}}</label> 
            <label>Password: Hidden </label>
            <label>Height: {{height}}</label> <div id="height"> <button onclick="editAccount('height')">Edit</button> </div>
            <label>Weight: {{weight}}</label>
            <label>Age: {{age}}</label>
            <label>Weekly Workout Goal: {{goal}}</label> 
         {{/Account}}
      </div>

      <div>
         <img src="images/newbie-badge.png"/>
         <img src="images/ten-badge.png"/>
         <img src="images/twenty-five-badge.png"/>
         <img src="images/fifty-badge.png"/>
         <img src="images/hundred-badge.png"/>

      </div>

    
      <script src="client/client-app.js"></script>
   </body>
</html>