<html>
<head>
        <title>WORKOUT APP | Dashboard</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/styles.css"/>
</head>

 {{#Dashboard}}
    {{#count}}
    <body onload='showBadge({{count}})'>
    {{/count}}
    
        <div class="container">
        {{> header}}
       
            <div class="upperContainer">
                <h1> Welcome {{name}}</h1>
                <form method="GET" action="/edit-account">
                <div>
                    <h2>Stats</h2>
                    <button>Edit</button>
                </div>
                <div class="statsContainer">
                    <div class="statsDiv">
                        <p>height: {{height}}</p>
                        <p>weight: {{weight}}</p>
                        <p>age</p>

                        <p>Weekly Goal: X of {{goal}}</p>
                        <p>Monthly Goal: X of {{goal}}</p>
                                                 
                    </div>

                    <div class="statsDiv">
                        <div id="badge">                                     
                        </div>
                        {{#count}}
                        <p>{{count}} Total Workouts</p>
                         {{/count}}  
                    </div>
                </div>
                </form>
                
                <div>
                {{! is this a link or do we need to pass user id in a form?}}
                    <a href="routines">
                        <button class="toRoutinesButton"> Go to Routines </button>
                    </a>
                </div>
            </div>

            <div class="lowerContainer">
                <h2>Workout History</h2>

                <div class="routinesContainer">
            
                {{#workouts}} 
                    <div class="workoutItem"> 
                        <form method= "POST" action="/select">

                            <div class="workoutImage">
                                <img src="https://images.pexels.com/photos/2294354/pexels-photo-2294354.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
                                <b class="displayTitle">{{title}}</b>
                            </div>
                            <div class="routineInfo">
                                <label><b>{{title}}</b></label> 
                                <span>Includes: {{exercises}}</span>
                                {{! NEED to link a workout id }}
                                <input type="hidden" value={{workout_id}} name="workout_id"/>            
                                <button class="redoButton">Repeat This Workout</button>         
                            </div>   
                        </form>
                    </div>

                {{/workouts}}
                </div>

            </div>
            

        {{/Dashboard}}   
        </div>
    
    <script src="client/client-app.js"></script>
    </body>

</html>