<html>
<head>
        <title>LiftLogger | Dashboard</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/styles.css"/>
</head>

    {{> header}}
    {{#Dashboard}}
    {{#count}}
    <body onload='showBadge({{count}})'>
    {{/count}}
    
        <div class="container">
        
       
            <div class="upperContainer">
                <h1>Dashboard</h1>
                <div class="statsContainer">
                    <div class="statsDivLeft">
                        <b>{{username}}'s Stats</b>
                        <p>height: {{height}}</p>
                        <p>weight: {{weight}}</p>
                        <p>age: {{age}}</p>        
                        <p>Weekly Workout Goal: {{#week}} {{count}} {{/week}} {{^week}} 0 {{/week}} of {{goal}}</p>
                                                                        
                    </div>

                    <div class="statsDiv">
                        {{#count}}
                        <p>{{count}} Total Workouts</p>
                         {{/count}}
                         <div id="badge" class="badge">                                 
        
                        {{^count}}
                         <img src="images/newbie-badge.png"/>            
                        {{/count}}  
                        </div>
                    </div>
                </div>
                             
                {{! <div> }}
                {{! is this a link or do we need to pass user id in a form?
                    <form method= "GET" action="/routineCreator">
                        <button class="toRoutinesButton"> Create a New Routine </button>
                    </form> }}
                 
                {{! </div> }}
            </div>

            <div class="lowerContainer">
                <h2>Your Workouts</h2> 
                
                <div class="routinesContainer">
                {{! Create a new routine}}  

                 <div class="workoutItem">
                            <form method="GET" action="/routineCreator">
                            <button class="hiddenButton"> 
                                <div id="workoutImage" class="workoutImage"> 
                                   <img src="/images/colorful-kettle.jpg"/>
                                    <b class="displayTitle">Create Routine</b>
                                </div>
                                <div class="routineInfo">
                                    <label><b>Create a Custom Routine</b></label> 
                                    <span>Includes: exercises of your choice</span>                 
                                </div>
                                
                            </button>
                            </form>
                        </div>                   
                                
                {{#workouts}} 

                     <div class="workoutItem">
                            <form method="GET" action="/{{workout_id}}">
                            <button class="hiddenButton"> 
                                <div id="workoutImage" class="workoutImage"> 
                                   <img src="/images/lift.jpg"/>
                                    <b class="displayTitle">{{title}}</b>
                                </div>
                                <div class="routineInfo">
                                    <label><b>{{title}}</b></label> 
                                    <span>Includes: {{exercises}}</span>                                           
                                    <input type="hidden" value={{workout_id}} name="workout_id"/>            
                                </div>
                            </button>
                           </form>
                           <form method="POST" action="/delete-routine">
                                <input type="hidden" value={{workout_id}} name="workout_id"/>  
                                <button class="deleteButton">Delete</button>
                            </form>
                        </div>                    

                {{/workouts}}

                {{^workouts}}
                    <p>You have no saved workout routines</p>
                {{/workouts}}
                </div>

            </div>
            

        {{/Dashboard}}  
        
        
        </div>
    
    <script src="client/client-app.js"></script>
    </body>

</html>