<html>
    <head>

    </head>

    <body>
    <form>
    {{#userInfo}}
        <p>{{height}}</p>
           <p>{{weight}} </p><input type="text" placeholder="enter updated weight" name="weight"> <button formaction="/update-weight">submit</button>
    {{/userInfo}}
    <form>
    <body>
</html>