<html>
<head>
        <title>LiftLogger | History</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/styles.css"/>
</head>

    {{> header}}
 
    <body>
    <div class="historyContainer">
    <h1>Workout History</h1>
       {{#History}} 
       <div class="historyItem">
                            <form method="GET" action="/{{histories_wid}}">
                            <button class="hiddenButton"> 
                                <div class="historyInfo">
                                    <label><b>Workout Name:{{title}}</b></label>             
                                    <span>Completed: {{date_completed}} </span>
                                    <input type="hidden" value={{histories_wid}} name="histories_wid"/>
                                </div>
                                
                            </button>
                            </form>
                        </div>
     {{/History}}
     {{^History}}
            <p>You have not saved your first workout!</p>
    {{/History}}
    </div>
    <script src="client/client-app.js"></script>
    </body>

</html>