<html>
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="/css/styles.css"/>
   </head>
   <body>
      <div id="login-container">
      <h1>Login</h1>
      <form method="POST" action="/login">
         <input type="text" placeholder="username" name="username" />
         <input type="password" placeholder="password" name="password" />
         <button>Login</button>
      </form>

      <form method="POST" action="/guest">
      <button>Login as Guest</button>
      </form>

      <form method="GET" action="/register">
      <button>Register New User</button>
      </form>
      
      {{message}}
      </div>
   </body>
</html>