<html>
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="/css/styles.css"/>
      <title>LiftLogger | Login</title>
   </head>
   <body>
      <div class="background-alt">
         <div id="login-container">
            <form id="login-form" method="POST" action="/login">
               <input class="usernameTxt" type="text" placeholder="username" name="username" />
               <br>
               <input class="passwordTxt" type="password" placeholder="password" name="password" />
               <br>
               <button id="loginBtn">Login</button>
            </form>

            <br><br>
            <form method="POST" action="/guest">
               <button id="guestBtn">Login as Guest</button>
            </form>

            <form method="GET" action="/register">
            <button id="toRegister">Register New User</button>
            </form>
      
            {{message}}
         </div>
      </div>
   </body>