<html>
   <body>
      <h1>Register</h1>
      <form method="POST" action="/register">
         <input type="text" placeholder="username" name="username" />
         <input type="password" placeholder="password" name="password" />
         <input type="text" placeholder="height" name="height" />
         <input type="text" placeholder="weight" name="weight" />
         <button>Register</button>
      </form>
   </body>
</html>