<html>
<html>
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="/css/styles.css"/>
   </head>
   <body>
      <div class="container">
         <h1>Register</h1>
         <form method="POST" action="/register">
            <div id="register">
               <input class="usernameTxt" type="text" placeholder="username" name="username" />
               <br>
               <input class="passwordTxt" type="password" placeholder="password" name="password" />
               <br>
               <input id="heightTxt" type="text" placeholder="height (inches)" name="height" />
               <br>
               <input id="weightTxt" type="text" placeholder="weight (lbs)" name="weight" />
               <br>
               <input id="ageTxt" type="text" placeholder="age" name="age" />
               <br>
               <input id="goalTxt" type="text" placeholder="weekly workout goal" name="goal" />
               <br>
            </div>
            <button id="registerBtn">Register</button>
         </form>
         {{message}}
      </div>
   </body>
</html>