<html>
    <head>
    <title>LiftLogger | WORKOUT CREATOR</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/styles.css"/>
    
    </head>
     {{> header}}
    <body id = 'routineBody'>
   
        {{! has the heading with the title of the page }}
        <div class = 'routineHeading'> 
            <h1>Routine Creator</h1>
        </div>




        {{! creates a ul of checkboxes that will allow you to choose different workouts to post to the workouts table with the titles and name of workout  }}
        <div id = 'routineCheckBoxes'>
            <form method = 'POST' action = 'routineCreator/creatingRoutine'>
                <div id = 'routineContent'>
                    <input class = 'routineName' type = 'text' placeholder = 'Name of routine' name = 'title' />
                    <label><h2 class = 'exerciseLabel'>Exercises:</h2></label>
                
                    <ul class = 'exercisesA'>  
                        <li><a class = 'exerciseTitleA' href = '#'>Chest</a></li>
                        <div class = 'ddTest'>
                        <li><label><input type = 'checkbox' value = 'Bench Press' name = 'exercises'><span>Add Bench Press</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Dumbbell Flys' name = 'exercises'><span>Add Dumbbell Flys</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Incline Dumbbell Flys' name = 'exercises'><span>Add Incline Dumbbell Flys</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Incline Bench Press' name = 'exercises'><span>Add Incline Bench Press</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Pushups' name = 'exercises'><span>Add Pushups</span></label></li>
                        </div>
                    </ul>

                    <ul class = 'exercisesA'>  
                        <li><a class = 'exerciseTitleA' href = '#'>Back</a></li>
                        <div class = 'ddTest'>
                        <li><label><input type = 'checkbox' value = 'Machine Row' name = 'exercises'><span>Add Machine Row</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Lat Pulls' name = 'exercises'><span>Add Lat Pulls</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Deadlift' name = 'exercises'><span>Add Deadlift</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Pullup' name = 'exercises'><span>Add Pullup</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Chinup' name = 'exercises'><span>Add Chinup</span></label></li>
                        </div>
                    </ul>

                    <ul class = 'exercisesA'>  
                        <li><a class = 'exerciseTitleA' href = '#'>Legs</a></li>
                        <div class = 'ddTest'>
                        <li><label><input type = 'checkbox' value = 'Leg Extension' name = 'exercises'><span>Add Leg Extension</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Back Squat' name = 'exercises'><span>Add Back Squat</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Leg Press' name = 'exercises'><span>Add Leg Press</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Leg Curl' name = 'exercises'><span>Add Leg Curl</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Body Squats' name = 'exercises'><span>Add Body Squats</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Lunge' name = 'exercises'><span>Add Lunge</span></label></li>
                        </div>
                    </ul>

                    <ul class = 'exercisesA'>  
                        <li><a class = 'exerciseTitleA' href = '#'>Abs</a></li>
                        <div class = 'ddTest'>
                        <li><label><input type = 'checkbox' value = 'Situps' name = 'exercises'><span>Add Situps</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Russian Twists' name = 'exercises'><span>Add Russian Twists</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Plank' name = 'exercises'><span>Add Plank</span></label></li>
                        </div>
                    </ul>

                    <ul class = 'exercisesA'>  
                        <li><a class = 'exerciseTitleA' href = '#'>Full Body</a></li>
                        <div class = 'ddTest'>
                        <li><label><input type = 'checkbox' value = 'Burpees' name = 'exercises'><span>Add Burpees</span></label></li>
                        <li><label><input type = 'checkbox' value = 'Bear Crawl' name = 'exercises'><span>Add Bear Crawl</span></label></li>
                        </div>
                    </ul>
                    
                    <a class = 'routineButton' href = '#'><button style = color: black; >Save Routine</button></a>
                </div>
            </form>
        </div>


    <script src="client/client-app.js"></script>
    </body>
</html>