<html>
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="/css/styles.css"/>
      <title>Project Name</title>
   </head>
   <body>
      <div id="splash-container">
         <p id="splash-logo">Logo up top</p>
         <div id="splash-welcome">
            <p>Welcome to Project</p>
            <p>Create workout routines quickly and smoothly</p>
         </div>
         <div id="splash-buttons">
            <form id="splash-sign-up" method="GET" action="/register">
               <button id="signUpBtn">Sign Up</button>
            </form>
            <form id="splash-log-in" method="GET" action="/login">
               <button id="logInBtn">Log In</button>
            </form>
         </div>
      </div>
   </body>
</html>