<html>
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="/css/styles.css"/>
      <title>LiftLogger</title>
   </head>
   <body>
      <div class="background">
         <div id="splash-container">
            <img id="splash-logo" src="/images/heartbeat.png"></img>
            <div id="splash-welcome">
               <p>Welcome to LiftLogger</p>
               <p>Create workout routines on the fly</p>
            </div>
            <div id="splash-buttons">
               <form id="splash-sign-up" method="GET" action="/register">
                  <button id="signUpBtn">Sign Up</button>
               </form>
               <form id="splash-log-in" method="GET" action="/login">
                  <button id="toLogInBtn">Log In</button>
               </form>
            </div>
         </div>
      </div>
   </body>
</html>