<html>
<head>
        <title>WORKOUT APP | PLAY ROUTINE</title>
        <link rel="stylesheet" href="/css/styles.css"/>
</head>

    <body>
    <h1>This is where the user will go through their workout</h1>

    workout details:
    {{#selectedWorkout}}

        {{workout_id}}

        {{title}}

        {{exercises}}

    {{/selectedWorkout}}



    </body>
</html>